* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: kalimati;
}
.row{
    margin-bottom: 20px;
}
.form-control{
    color: darkblue;
}

.wide100{
    width: 100%;
    margin-bottom: 5px;
}
