
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    /* Default width for larger screens */
    max-width: 1200px;
    margin: 0 auto;
    /* Center the container */
}

.form-label {
    color: navy;
}

.form-control {
    width: 100%;
    height: 35px;
    border: 1px solid navy;
    border-radius: 5px;
    padding-left: 5px;
}

.row {
    margin-bottom: 20px;
}


@media only screen and (max-width: 768px) {
    .container {
        width: 95%;
        /* Adjust width for tablets and smaller */
        padding: 15px;
        /* Add some padding */
    }

    .row {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        width: 100%;
        /* Full width on mobile phones */
        padding: 10px;
        box-sizing: border-box;
        /* Include padding in width calculation */
    }

}