.fullscreen-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* optional dim background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.loader {
  text-align: center;
}
.loader-text {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: navy;
}
.form-control{
  color: navy;
}
.navy{
  color: navy;
}
.row{ 
  margin-bottom: 20px;
}
.col-12{
  margin-bottom: 20px;
   color: navy;
}
.btn{
  margin-bottom: 10px;
}
.nepali{
  font-family: kalimati;
}
@media only screen and (max-width:768px) {
.row{ 
  margin-bottom: 5px;
}
.col-12{
  margin-bottom: 5px;
   color: navy;
}
.btn{
  margin-bottom: 5px;
}
}